<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.oyespace.guards">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Dangerous Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" /> <!-- <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/> -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission android:name="android.permission.CLEAR_APP_CACHE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <application
            android:name=".Myapp"
            android:allowBackup="true"
            android:icon="@drawable/oyespace_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network"
            android:roundIcon="@drawable/oyespace_launcher"
            android:supportsRtl="true"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".resident.ResidentMissedCallActivity"></activity>
        <activity
                android:name=".resident.ResidentIdActivity"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".staffManaualEntry.ManualStaffEntryRegistration"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".staffManaualEntry.ManualAddCarFragment"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".staffManaualEntry.ManualNameEntryScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".staffManaualEntry.ManualMobileNumberScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".staffManaualEntry.ManulBlockSelectionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".staffManaualEntry.ManualUnitSelectionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity android:name=".activity.NewBiometric" />
        <activity
                android:name=".activity.EditStaffActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.MapActivity"
                android:enabled="true"
                android:exported="true" />

        <service
                android:name=".CapPhoto"
                android:enabled="true"
                android:exported="true" />

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false" />

        <activity android:name=".activity.WalkieTalkieActivity" />

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false" />

        <!--        <meta-data-->
        <!--                android:name="com.google.android.geo.API_KEY"-->
        <!--                android:value="AIzaSyDKTVz6Ks7o0gdSZA75xXOJxUWjVFEKV68" />-->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />

        <activity
                android:name=".DashboardActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.MobileNumberScreenwithOTP"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.MobileNumberforEntryScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".guest.GuestCustomViewFinderScannerActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_others.VehicleOthersPurposeNameEntryScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.MyRoleScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.LoginActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait" />
        <activity android:name=".testgridsectionedrecyclerview.RecyclerViewActivity" />
        <activity
                android:name=".activity.SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".testgridsectionedrecyclerview.SectionedRecyclerView" />
        <activity
                android:name=".vehicle_others.VehicleOthersServiceProviderListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_others.VehicleOthersViewFullImageActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.LocationSearchActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.StaffEntryRegistration"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.UnitListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.Biometric"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.EditBiometric"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.NameEntryScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.MobileNumberScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.PurposeScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.ServiceProviderListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.WorkersTypeList"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.CameraActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.StaffListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".camtest.ViewFullImageActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".camtest.AddCarFragment"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.ImgView"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.TicketingDetailsActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".Dashboard"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".com.oyespace.guards.activity.SosGateAppActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />

        <activity
                android:name=".activity.GalleryViewActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />

        <activity
                android:name=".pertroling.PatrollingLocActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />

        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="@integer/google_play_services_version" />
        <meta-data
                android:name="com.google.android.ocr.API_KEY"
                android:value="AIzaSyBnhrFUuGO3_Pr3TzZAXG-_C5fBpZhxj9w" /> <!-- <activity -->
        <!-- android:name=".activity.PatrollingActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/noActionBar"> -->
        <!-- </activity> -->
        <service
                android:name=".com.oyespace.guards.fcm.FRTDBService"
                android:enabled="true" />

        <service
                android:name=".SGPatrollingService"
                android:enabled="true"
                android:exported="true" />
        <service
                android:name=".BGService"
                android:enabled="true"
                android:exported="true" />

        <activity
                android:name=".ocr.CaptureImageOcr"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".qrscanner.BaseScannerActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".qrscanner.CustomViewFinderScannerActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_guest.VehicleGuestUnitScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_guest.VehicleGuestAddCarFragment"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_guest.VehicleGuestMobileNumberScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_guest.VehicleGuestNameEntryScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_guest.VehicleGuestEntryRegistration"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_others.VehicleOthersUnitScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".qrscanner.VehicleGuestQRRegistration"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_others.VehicleOthersEntryRegistration"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_others.VehicleOthersMobileNumberScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_others.VehicleOthersNameEntryScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_others.VehicleOthersAddCarFragment"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".guest.GuestUnitScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".guest.GuestAddCarFragment"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".guest.GuestMobileNumberScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".pertroling.PatrollingActivitynew"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_others.Vehicle_Others_MobileNumberScreenwithOTP"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".guest.GuestEntryRegistration"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".guest.GuestNameEntryScreen"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity android:name=".pertroling.TimeSetter" />
        <activity
                android:name=".vehicle_guest.Vehicle_Guest_MobileNumberScreenwithOTP"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.StaffDetails"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".ImageBigView"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".activity.MobileNumberEntryScreenwithOTP"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".guest.GuestMobileNumberScreenwithOTP"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" /> <!-- <activity android:name=".activity.BiometricNewAdvance"> -->
        <!-- </activity> -->
        <receiver
                android:name=".BackgroundSyncReceiver"
                android:enabled="true"
                android:exported="true" />

        <service
                android:name=".fcm.FCMMessagingService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
                android:name=".fcm.FCMInstantIDService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="71ecc6e51aa1c6a10438249055c5140043157bc1" />

        <activity
                android:name=".activity.EditBlockSelectionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".activity.EditUnitSelectionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".activity.BlockSelectionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".guest.GuestBlockSelectionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".vehicle_others.Vehicle_Others_BlockSelectionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".vehicle_guest.Vehicle_Guest_BlockSelectionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".activity.UnitSelectionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".guest.GuestUnitSelectionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_guest.Vehicle_guest_UnitSelectionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
        <activity
                android:name=".vehicle_others.Vehicle_OthersUnitSelectionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/noActionBar" />
    </application>

</manifest>